/* this is where we style stuff */
/*Testing Frederick*/
/*Test Again for Master.css*/
/*test times*/
body {
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#board {
    width: 550px;
    height: 800px;
    background-image: url("../images/space.png");
    margin: 30px;
    transition: background-image 1s ease-in-out;
}

/* When Player is in Moving Zone */
#board.moving-region {
    background-image: url("../images/moving.png");
}

#background {
    background-image: url("../images/Spaceman_Background.png");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    position: fixed;
    top: 0;
    z-index: -1;
}