/* this is where we style stuff */
/*Testing Frederick*/
/*Test Again for Master.css*/
/*test times*/
body {
    text-align: center;
    background-image: url("./images/Spaceman_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

#board {
    /* background-color: #f1f1f1; */
    width: 550px;
    height: 800px;
    /* margin-top: 20px; */
    background-image: url("./images/space.png");
}

#container {
    margin: 0 auto;

}